.header {
    display: flex;
    padding: 1.5rem 1px;
    position: sticky;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    flex-flow: row wrap;
    background-color: var(--bg);
    z-index: 1;
}

.logo {
    width: 200px;
}

.visible {
    top: 0;
    transition: top .4s ease-out;
}

@media screen and (max-width: 480px){
    
    .header { 
        gap: 0;
        justify-content: stretch;
    }

    .logo { 
        display: none;
    }

    .visible {
        top: 0;
        z-index: 1;
    }
}