.navbar-header {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    font-size: var(--text-xs);
}

.text-navbar {
    text-decoration: none;
    color: #000000;
    transition: 0.15s ease-in;
}

.header-icon-nav {
    cursor: pointer;
    z-index: 1;
    display: none;
    align-items: center;
}

.buttons-navbar {
    display: flex;
    gap: 15px;
}

.logo-nav {
    display: flex;
    width: 200px;
    align-items: center;
    margin-left: 30px;
}

/* .nav-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
} */

.text-navbar:hover { 
    color: var(--primary);
}

@media screen and (max-width: 480px){
    
    .header-icon-nav {
        display: flex;
    }

    .navbar-header {
        display: flex;
        width: 100%;
        flex-direction: column;
        /* flex-flow: row nowrap; */
        justify-content: center;
        align-items: center;
        height: 0vh;
        opacity: 0;
        overflow: hidden;
        transition: all .4s ease-out;
    }

    .buttons-navbar {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .navbar-header.isActive {
        position: absolute;
        top: -5%;
        left: 0%;
        height: 100vh;
        opacity: 1;
        background-color: var(--bg);
    }

    /* .header-icon-nav {
        display: flex;
        justify-content: center;
        align-items: center;
    } */

    .nav-header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}